
footer {
    background: #2e3131;
    padding: 35px 0 24px;
    color: #fff;
    font-size: 14px;
    .container {

        .row {
            display: flex;
            justify-content: space-between;

            .item {
                margin: 0;
                padding: 0;
                h5 {
                    font-size: 14px;
                    color: white;
                }

                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    font-size: 14px;

                    li {
                        margin-bottom: 10px;
                        a {
                            text-decoration: none;
                            color: white;
                            font-size: 12px;

                            img {
                                border-radius: 8px;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
        .buttons-icon{
            display: flex;
            .btn{
                svg{
                    color: red;
                }
                &:hover{
                    background: #2e3131 !important;
                }
            }
            .icon{
                display: flex;
                align-items: center;
                svg{
                    margin-left: 10px;
                }
            }
        }

        .end-text{
            margin-top: 20px;
           border-top: 1px solid gray;
           .info{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            a{
                margin-left: 20px;
                img{
                    width: 75px;
                }
            }
           }
        }
    }

}