#installment {
    .container {
        .row {
            .card-items {
                margin-top: 100px;
                padding-left: 15px;
                height: 270px;
                padding-right: 15px;
                background-color: #FBFAF9;
                border-radius: 10px;
                border: 1px solid rgba(156, 154, 154, 0.2);

                .card-text-button {
                    margin-top: 70px;

                    .card-text {
                        font-size: 18px;
                    }

                    .card-list {
                        ul {
                            margin-top: 35px;
                            list-style: none;

                            li {
                                font-size: 14px;

                                &::before {
                                    content: "\2022";
                                    color: red;
                                }
                            }
                        }
                    }
                }

                .image {
                    width: 225px;
                    position: relative;

                    img {
                        position: absolute;
                        bottom: -50px;
                    }
                }
            }

            .btn-group {
                margin-top: 25px !important;

                .button1 {
                    width: 100px !important;
                }

                .button2 {
                    width: 140px !important;
                }
            }
        }
    }
}