@charset "UTF-8";
header {
  padding-top: 20px;
}
header .top .container .row nav ul li {
  font-size: 14px;
  margin-left: 15px;
  color: rgb(29, 28, 28);
  transition: 0.5s;
  cursor: pointer;
}
header .top .container .row nav ul li:hover {
  color: black;
}
header .bottom {
  height: 55px;
  background-color: rgba(119, 116, 116, 0.5);
  margin-top: 35px;
}
header .bottom .container .row {
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
}
header .bottom .container .row nav {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .bottom .container .row nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
header .bottom .container .row nav ul li {
  font-size: 14px;
  margin-right: 15px;
  color: rgb(29, 28, 28);
  transition: 0.5s;
  cursor: pointer;
}
header .bottom .container .row nav ul li:hover {
  color: black;
}
header .sticky {
  border-radius: 50%;
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
}
header .sticky img {
  padding: 10px;
  width: 38px;
}
header .sticky img:hover {
  width: 40px;
}

#cards {
  background-color: #FFFFFF;
}
#cards .container .title h2 {
  font-size: 44px;
}
#cards .container .title p {
  font-size: 14px;
  color: rgb(63, 62, 62);
}
#cards .container .row {
  padding-top: 50px;
  padding-bottom: 50px;
}
#cards .container .row .popular {
  background-color: #FBFAF9;
  width: 950px;
  border: 1px solid rgb(156, 154, 154);
  padding: 30px;
  border-radius: 20px;
}
#cards .container .row .popular .text small::before {
  content: "🔥";
  color: red;
  margin-right: 5px;
}
#cards .container .row .popular .image {
  width: 277px;
}
#cards .container .row .popular .image img {
  width: 100%;
}

#installment .container .row .card-items {
  margin-top: 100px;
  padding-left: 15px;
  height: 270px;
  padding-right: 15px;
  background-color: #FBFAF9;
  border-radius: 10px;
  border: 1px solid rgba(156, 154, 154, 0.2);
}
#installment .container .row .card-items .card-text-button {
  margin-top: 70px;
}
#installment .container .row .card-items .card-text-button .card-text {
  font-size: 18px;
}
#installment .container .row .card-items .card-text-button .card-list ul {
  margin-top: 35px;
  list-style: none;
}
#installment .container .row .card-items .card-text-button .card-list ul li {
  font-size: 14px;
}
#installment .container .row .card-items .card-text-button .card-list ul li::before {
  content: "•";
  color: red;
}
#installment .container .row .card-items .image {
  width: 225px;
  position: relative;
}
#installment .container .row .card-items .image img {
  position: absolute;
  bottom: -50px;
}
#installment .container .row .btn-group {
  margin-top: 25px !important;
}
#installment .container .row .btn-group .button1 {
  width: 100px !important;
}
#installment .container .row .btn-group .button2 {
  width: 140px !important;
}

#text {
  padding: 25px;
}
#text .container .row .title {
  text-align: center;
}

#end {
  background-color: #FBFAF9;
}
#end .container {
  padding-top: 25px;
  padding-bottom: 25px;
}
#end .container .row {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#end .container .row a {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: black;
}
#end .container .row .campaign-link {
  color: red;
}

footer {
  background: #2e3131;
  padding: 35px 0 24px;
  color: #fff;
  font-size: 14px;
}
footer .container .row {
  display: flex;
  justify-content: space-between;
}
footer .container .row .item {
  margin: 0;
  padding: 0;
}
footer .container .row .item h5 {
  font-size: 14px;
  color: white;
}
footer .container .row .item ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
footer .container .row .item ul li {
  margin-bottom: 10px;
}
footer .container .row .item ul li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}
footer .container .row .item ul li a img {
  border-radius: 8px;
  margin-top: 10px;
}
footer .container .buttons-icon {
  display: flex;
}
footer .container .buttons-icon .btn svg {
  color: red;
}
footer .container .buttons-icon .btn:hover {
  background: #2e3131 !important;
}
footer .container .buttons-icon .icon {
  display: flex;
  align-items: center;
}
footer .container .buttons-icon .icon svg {
  margin-left: 10px;
}
footer .container .end-text {
  margin-top: 20px;
  border-top: 1px solid gray;
}
footer .container .end-text .info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .container .end-text .info a {
  margin-left: 20px;
}
footer .container .end-text .info a img {
  width: 75px;
}/*# sourceMappingURL=main.css.map */